.root {
  margin: 5px 0;
}

.title {
  color: #A55CCF;
  margin-bottom: 4px;
}

.input {
  height: 40px;
  border: 1px solid #A55CCF;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #A55CCF;
}
