.root {
  margin: 5px 0;
}

.title {
  color: white;
  margin-bottom: 4px;
}

.input {
  height: 40px;
  border: 1px solid #2C0E4A;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color:#2C0E4A;
  color: white;
}
