.root {
  padding: 10px;
  margin-bottom: 90px;
}

.title {
  text-align: center;
}

.progress {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 8px;
  background: #0002;
  border-radius: 10px;
}

.section {
  height: 10px;
  width: 100px;
  border-radius: 10px;
}


.activeSection {
  background-color: #2c0e4a;
  font-weight: 900;
  scale: 1.1;
}

.nextButton {
  background-color: #a55ccf;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: rgba(220, 218, 226, 0.66);
  text-transform: uppercase;
  text-align: center;
}

.nextButtonDisabled {
  background-color: gray;
}
