.root {
  padding: 12px;
}

.title {
  color: rgba(220, 218, 226, 0.66);
  margin-bottom: 4px;
}

.container {
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(220, 218, 226, 0.66);
  border-color: #2c0e4a;
  color: #2c0e4a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.value {
  color: #2c0e4a;
}

.button {
  background-color: #2c0e4a;
  padding: 10px;
  border-radius: 3px;
  color: rgba(220, 218, 226, 0.66);
}
