.root {
  padding: 12px;
}

.title {
  color: rgba(220, 218, 226, 0.66);
  margin-bottom: 4px;
}

.container {
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2c0e4a;
  border-color: #2c0e4a;
  color: rgba(220, 218, 226, 0.66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
<<<<<<< HEAD
  background-color: rgba(220, 218, 226, 0.66);
=======
  background: rgba(220, 218, 226, 0.66);
>>>>>>> 7f2d2d75e5b1d99b75643cffd5a87f6f50ec265e
  padding: 10px;
  border-radius: 3px;
  color: #2c0e4a;
}
