.root {
  padding: 12px;
}

.title {
  color: white;
  margin-bottom: 4px;
}

.container {
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2C0E4A;
  border-color: #2C0E4A;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  color: #2C0E4A;
}