.root {
  margin: 5px 0;
  width: 100%;
}

.input {
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border-color: #A55CCF;
}

@media (width < 400px) {
  .wrapper {
    width: 100%;
  }

  .input[type="datetime-local"] {
    width: 100%;
    box-sizing: border-box;
    min-width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
  }
}