.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  border-bottom: 1px solid #dadada;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.languageSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  justify-content: flex-end;

  button {
    width: 100%;
    padding: 10px;
    background: #0a71df;
    color: rgba(220, 218, 226, 0.66);
    border-radius: 5px;
  }
}
