.root {
  position: relative;
  margin: 5px 0;

  button {
    background: rgba(220, 218, 226, 0.66) !important;
    color: #2C0E4A;
  }
}

.title {
  color: white;
  margin-bottom: 4px;
}

.button {
  display: flex;
  gap: 10px;
}

.box {
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(220, 218, 226, 0.66);
  border-color: #A55CCF;
  color: white;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* .content {} */

.options {
  display: flex;
  padding: 10px;
  background-color: #fff4;
  flex-direction: column;
  gap: 10px;
}