* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  max-width: 600px;
  margin: auto;
  background: linear-gradient(180deg, #D22E86 0%, #6F1CC3 100%);
}

.container {
  padding: 10px;
}

input, button {
  outline: none;
  border: 1px solid #0002;
}

button {
  cursor: pointer;
  background: #2C0E4A !important;
}

button:disabled {
  cursor: no-drop;
}