.root {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.headerText {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.payMethod {
  background-color: #E1E1E1;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.contentText {
  font-size: 20px;
}
