.root {
  padding: 10px;
}

.inputBox {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
}

/* .input {} */

.button {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(220, 218, 226, 0.66);
  background: #a55ccf;
}

.button:disabled {
  color: gray;
  background: #dbc6e7;
}

.message {
  padding: 10px;
  border: 1px solid #a55ccf;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgba(220, 218, 226, 0.66);
}
